@import "tailwindcss";
body {
  font-family: var(--font-nacy), sans-serif;
}
.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-root {
  font-family: var(--font-nacy) !important;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
 
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

/* * {
  box-sizing: border-box;
} */